<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 200px;
            }
            li {
                clear: both;
            }
            .delete-button {
                background-color: transparent;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
         <!-- <form method="POST" action="/todos/create">
            method & action is no longer needed since we're implementing AJAX and preventing defult
            behabiors at the script below -->
        <form id="form"> 
            <input type="text" id="description" name="description" />
            <input type="submit" value="Create" />
        </form>
        
        <!-- Error Message. Default: doesn't show -->
        <div id="error" class="hidden">Something went wrong!</div>
        
        <ul id="todos">
            {% for d in data %} <!-- This is a Jinja for loop -->
            <li>
                <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %} /> 
                {{ d.description }}
                <button class="delete-button" data-id="{{ d.id }}">&cross;</button>
            </li> 
            {% endfor %}
        </ul>
        
        <!-- Implementing AJAX data request: page doesn't refresh when new data is added -->
        <script>
            const delete_buttons = document.querySelectorAll('.delete-button');
            for (let i = 0; i < delete_buttons.length; i++) {
                const delete_button = delete_buttons[i];
                delete_button.onclick = function (e) {
                    console.log('event', e);
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId, {
                        method: 'DELETE'
                    });
                }
            }

            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function (e) {
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function () {
                        document.getElementById('error').className = '';
                    })
                }
            }
            document.getElementById('form').onsubmit = function (e) { // e is the event handler
                // prevent the default behabior
                e.preventDefault();
                // use fetch to send AJAX requests
                fetch('/todos/create', {
                    method: "POST",
                    body: JSON.stringify({
                        'description': document.getElementById('description').value
                    }),
                    // Specify content type header
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                //  after fetching, we want to manipulate the response
                .then(function (response) {
                    return response.json();
                })
                .then(function (jsonResponse) {
                    console.log(jsonResponse);
                    // Append the newly created object to the todo list
                    const liItem = document.createElement('LI');
                    liItem.innerHTML = jsonResponse['description'];
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className='hidden';
                })
                //  Catch handler to displays error message when something goes wrong
                .catch(function () {
                    document.getElementById('error').className='';
                })
            }
        </script>
    </body>
</html>